<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Peter Van Katwyk",
  "url": "https://pvankatwyk.com",
  "image": "https://pvankatwyk.com/assets/images/220502_DSI_Peter_Van_Katwyk_021.png",
  "jobTitle": "Ph.D. Candidate, ML Engineer",
  "affiliation": {
    "@type": "Organization",
    "name": "Brown University"
  },
  "sameAs": [
    "https://github.com/pvankatwyk",
    "https://linkedin.com/in/pvankatwyk",
    "https://scholar.google.com/citations?user=aIAswrwAAAAJ&hl=en&oi=ao",
    "http://orcid.org/0000-0002-3512-0665"
  ],
  "description": "Peter Van Katwyk is a Ph.D. candidate at Brown University and NSF GRFP Fellow researching scalable inference and probabilistic programming."
}
</script>
